<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:person="http://code.alibabatech.com/schema/dubbo/Person"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
					    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
					    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
					    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
					    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                        http://code.alibabatech.com/schema/dubbo/Person http://code.alibabatech.com/schema/dubbo/person.xsd http://blog.csdn.net/cutesource/schema/people http://code.alibabatech.com/schema/dubbo/person.xsd">

    <!--<context:property-placeholder location="classpath*:*.properties" ignore-unresolvable="true" file-encoding="utf-8"/>-->
    <aop:aspectj-autoproxy proxy-target-class="false"/>

    <!-- 定义扫描bean的位置 -->
    <!--<context:annotation-config />-->
    <context:component-scan base-package="com.my.demo"/>


    <person:person id="person" age="12" name="张三先生"></person:person>
    <!-- 引入子配置文件-->
    <!--<import resource="spring/dao/spring-config-dao.xml"/>-->


</beans>
